<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 将namespace的值设置为DAO类对应的路径 -->
<mapper namespace="com.xiongfk.springBooting.mapper.master.AccountMasterMapper">

    <update id="updateByName" parameterType="java.lang.String">
        UPDATE account SET money= '15000' where name=#{accountName}
    </update>
</mapper>