<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiongfk.springBooting.mapper.master.EbizProductRiskMapper">
    <resultMap id="BaseResultMap" type="com.xiongfk.springBooting.model.EbizProductRisk">
        <id column="sid" jdbcType="INTEGER" property="sid"/>
        <result column="risk_code" jdbcType="VARCHAR" property="riskCode"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="out_risk_code" jdbcType="VARCHAR" property="outRiskCode"/>
        <result column="risk_name" jdbcType="VARCHAR" property="riskName"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="mng_com" jdbcType="VARCHAR" property="mngCom"/>
        <result column="risk_type" jdbcType="VARCHAR" property="riskType"/>
        <result column="risk_sub_type" jdbcType="VARCHAR" property="riskSubType"/>
        <result column="risk_prop" jdbcType="VARCHAR" property="riskProp"/>
        <result column="risk_period" jdbcType="VARCHAR" property="riskPeriod"/>
        <result column="risk_state" jdbcType="VARCHAR" property="riskState"/>
        <result column="orig_risk_code" jdbcType="VARCHAR" property="origRiskCode"/>
        <result column="main_flag" jdbcType="VARCHAR" property="mainFlag"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="creator_id" jdbcType="INTEGER" property="creatorId"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="modifier_id" jdbcType="INTEGER" property="modifierId"/>
        <result column="stand_by_flag1" jdbcType="VARCHAR" property="standByFlag1"/>
        <result column="stand_by_flag2" jdbcType="VARCHAR" property="standByFlag2"/>
        <result column="stand_by_flag3" jdbcType="VARCHAR" property="standByFlag3"/>
        <result column="stand_by_flag4" jdbcType="VARCHAR" property="standByFlag4"/>
        <result column="stand_by_flag5" jdbcType="VARCHAR" property="standByFlag5"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Mar 02 17:22:04 CST 2017.
        -->
        sid, risk_code, version, out_risk_code, risk_name, short_name, mng_com, risk_type,
        risk_sub_type, risk_prop, risk_period, risk_state, orig_risk_code, main_flag, remark,
        create_date, creator_id, modify_date, modifier_id, stand_by_flag1, stand_by_flag2,
        stand_by_flag3, stand_by_flag4, stand_by_flag5
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from Ebiz_Product_Risk
    </select>

    <select id="selectGroupBy" resultType="java.util.TreeMap" parameterType="java.lang.String">
        SELECT DISTINCT ${properties}
        FROM Ebiz_Product_Risk
    </select>


</mapper>